body{
    background-color: #e4c090;
}
.origem{width: 800px;
height: 500px;}
.imagem1{
    width: 600px;
    height: 400px;
}

.massa{width: 400px;
height: 250px;}
.recheio{width: 400px;
height: 250px;}